<div class="ui borderless fixed stackable main menu">
    <div class="ui text container">
        <a href="/" class="header item">
            {% if LOGOPATH %}
            <img class="logo" src="{{ SITEURL }}{{ LOGOPATH }}">
            {% else %}
            <img class="logo" src="{{ SITEURL }}/theme/images/logo.png">
            {% endif %}
            {{ SITENAME }}
        </a>
        {% for item, url in MENU_LINKS %}
        <a href="{{ url }}" class="item">{{ item }}</a>
        {% endfor %}
    </div>
</div>
